<div class="avenyn">
    <div class="avenyntitel">
        <h1>Avenyn</h1>
    </div>
</div>

<div class="jarntorget">
    <div class="jarntitel">
        <h1>Järntorget</h1>
    </div>
</div>

<div class="scandinavium">
    <div class="scandtitel">
    <h1>Scandinavium</h1>
    </div>
</div>

<div class="setitel">
    <h1>Sevärdheter</h1>
</div>